@tailwind components;

@layer components {
  /* Keyframes */

  /* Custom components */
  .pool-grid {
    display: grid;
    grid-gap: 1em;
    align-items: center;
    grid-template-columns: 2rem 3.5fr repeat(1, 1fr);

    & :nth-child(4) {
      display: none;
    }

    @media screen(mobile) {
      grid-template-columns: 2rem 3.5fr repeat(2, 1fr);

      & :nth-child(4) {
        display: flex;
      }
    }
  }

  .token-grid {
    display: grid;
    grid-gap: 1em;
    align-items: center;
    grid-template-columns: 2rem 3fr repeat(1, 1fr);

    & :nth-child(3) {
      display: none;
    }
    & :nth-child(4) {
      display: none;
    }

    @media screen(mobile) {
      grid-template-columns: 2rem 3fr repeat(3, 1fr);

      & :nth-child(3) {
        display: flex;
      }
      & :nth-child(4) {
        display: flex;
      }
    }
  }

  .transaction-grid {
    display: grid;
    grid-gap: 1em;
    align-items: center;
    grid-template-columns: 1.5fr 1fr;

    & :nth-child(2) {
      display: none;
    }
    & :nth-child(3) {
      display: none;
    }
    & :nth-child(4) {
      display: none;
    }
    & :nth-child(5) {
      display: none;
    }

    @media screen(mobile) {
      grid-template-columns: 1.5fr repeat(3, 1fr);

      & :nth-child(2) {
        display: flex;
      }
      & :nth-child(5) {
        display: flex;
      }
    }

    @media screen(tablet) {
      grid-template-columns: 1.5fr repeat(5, 1fr);

      & :nth-child(2) {
        display: flex;
      }
      & :nth-child(3) {
        display: flex;
      }
      & :nth-child(4) {
        display: flex;
      }
      & :nth-child(5) {
        display: flex;
      }
    }
  }

  .refresh-button {
    svg {
      fill: theme(colors.green.600);
      transition: all 0.3s;
    }

    &:hover {
      svg {
        fill: theme(colors.green.300);
        transform: rotate(90deg);
      }
    }
  }
}
